<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246552184969-u1cmmh89uf4b5o4cu5invbjjqvucg9mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246552184969-u1cmmh89uf4b5o4cu5invbjjqvucg9mi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>246552184969-elhslbvp1312va3bnfmu5ltkpr7pkp9b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAa7JKV0aJPk6UBeHCQWPk7XQ3famUxiAs</string>
	<key>GCM_SENDER_ID</key>
	<string>246552184969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.powerhouse.ios-app</string>
	<key>PROJECT_ID</key>
	<string>powerhouse-55647</string>
	<key>STORAGE_BUCKET</key>
	<string>powerhouse-55647.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246552184969:ios:c48b9349f6c82df7e2de58</string>
</dict>
</plist>